*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}

input{
    margin: 0 auto;
    width: 100px;
    border: 2px solid green;
    border-radius: 5px;
    text-align: center;
}